* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    background-color: #eceff1;
    height: 100vh;
    position: relative;
    color: #000a12;
}

.wrapper {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box-login {
    margin: 0 auto;
    width: 28%;
    height: 87%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login__form {
    padding: 30px;
}

.login__form h1 i {
    color: rgb(37, 118, 224);
    margin-right: 10px;
}

.login__form h1 {
    color: #37474f;
}

.login__form--input {
    text-align: left;
}

.login__form--input {
    margin: 45px 0;
}

.login__form--input .form__input--email {
    margin-bottom: 25px;
}

.login__form--input .form__input--password {
    margin-bottom: 35px;
}

.login__form--input .form__input--email input {
    width: 100%;
    display: block;
    outline: 0;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #1565c0;
    padding: 10px;
}

.login__form--input .form__input--email label {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 18px;
}

.login__form--input .form__input--password input {
    width: 100%;
    display: block;
    outline: 0;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #1565c0;
    padding: 10px;
}

.login__form--input .form__input--password label {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 18px;
}

.login__form--input .form__button button {
    outline: 0;
    display: block;
    width: 100%;
    transition: background-color .2s ease;
    background-color: #1dbfaf;
    margin: 30px 0;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}