* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    background-color: #eceff1;
    height: 100vh;
    position: relative;
    color: #000a12;
}

.wrapper {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    margin: 0 auto;
    width: 50%;
    height: 90%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
}

.list-user {
    height: 75%;
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%); */
}

.user {
    width: 30%;
    background-color: rgb(67, 125, 201);
    padding: 20px 10px;
    margin: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.user .img {
    width: 115px;
    height: 115px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 0;
}

.user .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .text {
    margin: 10px 0;
    width: 100%;
}

.user .text a {
    display: block;
    color: wheat;
    font-size: 16px;
}

.user .text h3 {
    line-height: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.header__login {
    width: 20%;
    margin: 50px auto;
    background-color: rgb(67, 125, 201);
    padding: 10px 15px;
    text-align: center;
    line-height: 20px;
    border-radius: 8px;
}

.header__login a {
    color: whitesmoke;
    display: block;
}