* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #eceff1;
    height: 100vh;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    width: 80%;
    height: 90vh;
    background-color: white;
    overflow: auto;
}

.error {
    color: #ef5350;
    font-size: 14px;
    margin: 0.25rem;
    opacity: 0;
    display: inline-block;
    width: 100%;
    height: 20px;
}

.pd {
    padding: 2rem 3rem;
}

.my-2 {
    margin: 2rem 0;
}

.heading {
    text-transform: uppercase;
    color: #263238;
}

.r-flex {
    display: flex;
    align-items: center;
}

.btn {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid #263238;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-add {
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #283593;
    color: white;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    outline: none;
    cursor: pointer;
}

.w-1-3 {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.w-1-2 {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form-label {
    text-transform: capitalize;
    padding: 0.5rem 0;
    font-size: 14px;
    font-weight: 600;
    color: #263238;
}

.form-input {
    padding: 0.5rem;
    margin-right: 2rem;
    outline: none;
    border: 1px solid #b0bec5;
    border-radius: 0.5rem;
    color: #263238;
}

.form-input:focus {
    border-color: #283593;
    transform: 300ms;
}

.carrer {
    width: 100%;
}

.btn-submit button {
    width: 10%;
    margin: 0 auto;
    display: block;
    background-color: #393c50;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;
}


/* mobile & tablet (<1024px) */

@media only screen and (max-width: 63.9375em) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
        height: auto;
        overflow: hidden;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .r-flex {
        flex-wrap: wrap;
    }
    .btn-add {
        width: 100%;
    }
    .btn-submit button {
        width: 100%;
    }
    .form-input,
    .btn-add {
        border-radius: 0;
    }
    .btn-submit button {
        border-radius: 0;
    }
    .btn-add {
        margin-top: 20px;
        text-align: center;
    }
    h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}


/* Tablet: width >= 740px and width < 1024px */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .w-1-3 {
        width: 45%;
    }
    .personal {
        width: 100%;
    }
    .form-input {
        width: 80%;
        margin: 0 auto;
    }
    .form-label {
        width: 90%;
        margin: 0 auto;
    }
    .pd {
        width: 100%;
    }
    .btn {
        width: 10%;
        margin-left: 24px;
        border-radius: 0;
    }
}


/* Reponsive Mobile: width < 740px */

@media only screen and (max-width: 46.1875em) {
    .w-1-3 {
        width: 90%;
        margin: 0 auto;
    }
    .personal {
        width: 90%;
    }
    .form-input {
        width: 90%;
        margin: 0 auto;
    }
    .form-label {
        width: 100%;
    }
    .pd {
        width: 80%;
        margin: 0 auto;
    }
    .w-1-2 {
        width: 90%;
        margin: 0 auto;
    }
    .btn {
        width: 10%;
        margin-left: 12px;
        border-radius: 0;
    }
}