* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

.list-cv {
    height: 75%;
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(-50%, -50%); */
}

.user {
    width: 30%;
    background-color: rgb(67, 125, 201);
    padding: 20px 10px;
    margin: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.user .img {
    width: 115px;
    height: 115px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 0;
}

.user .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user .text {
    margin: 10px 0;
    width: 100%;
}

.user .text a {
    margin: 0 auto;
    width: 35%;
    display: block;
    color: wheat;
    font-size: 16px;
}

.user .text h3 {
    line-height: 20px;
    color: white;
    font-size: 24px;
    margin-bottom: 15px;
}

.user .button {
    margin: 10px;
}

.user .button a {
    color: green;
}

.user button {
    outline: 0;
    border-radius: 3px;
    color: red;
    padding: 5px;
    background-color: white;
    border: 0;
}

.create-cv {
    padding: 10px 5px;
    display: block;
    width: 10%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    background-color: #1565c0;
    border-radius: 5px;
}

.create-cv a {
    color: rgb(247, 247, 247);
    font-weight: 600;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.nav__bar-content h2 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(39, 37, 37);
}

.nav__bar i {
    color: #1565c0;
    margin-right: 5px;
}

.nav__bar--logout a {
    color: #1565c0;
}